extends layout

block content
  .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') HN Archive 
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#hn-navbar' aria-controls='hn-navbar' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #hn-navbar.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item.active
                  a.nav-link(href='/')
                    | Link 
                    span.sr-only (current)
                li.nav-item
                  a.nav-link(href='/') Link
                li.nav-item
                  form(action='/search', method='GET')
                    .input-group
                      .form-outline
                      input#search.form-control(type='text' name='query')
                      button.btn.btn-primary(type='submit') Search
                        i.fas.fa-search  
      .row  
        .col
        .col-xl-6
          - var id = data.id 
          - var current = parseInt(data.page)
          a(href="?page="+(current+1))
            img.img-fluid(src='https://images.elscione.com/images/'+data.id+'/'+data.index[data.page])
        .col
            
  script(src='/js/bootstrap/bootstrap.bundle.min.js')