extends layout

block content
  .container
      .row
        .col-md-12
          nav.navbar.navbar-expand-lg.navbar-light.bg-light.col-md-12
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
              span.navbar-toggler-icon
            a.navbar-brand(href='/') HN Archive 
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item.active
                  a.nav-link(href='/')
                    | Link 
                    span.sr-only (current)
                li.nav-item
                  a.nav-link(href='/') Link
                li.nav-item
                  .input-group
                  .form-outline
                    input#form1.form-control(type='search')
                    label.form-label(for='form1') Search
                    button.btn.btn-primary(type='button')
                      i.fas.fa-search

             
      .row  
        .col
        .col6
          - var id = data.id 
          - var current = parseInt(data.page)
          a(href="?page="+(current+1))
            .col-md-6
            img.img-fluid(src='https://images.elscione.com/images/'+data.id+'/'+data.index[data.page])

        .col
          
            